
/* TypoPRO Google Sans Flex 9pt Medium */
@font-face {
    font-family:  'TypoPRO Google Sans Flex';
    src:          url('TypoPRO-GoogleSansFlex-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-GoogleSansFlex-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-GoogleSansFlex-Medium.woff') format('woff'),
                  url('TypoPRO-GoogleSansFlex-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

