
/* TypoPRO Google Sans Flex 9pt SemiBold */
@font-face {
    font-family:  'TypoPRO Google Sans Flex';
    src:          url('TypoPRO-GoogleSansFlex-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-GoogleSansFlex-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-GoogleSansFlex-SemiBold.woff') format('woff'),
                  url('TypoPRO-GoogleSansFlex-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

