
/* TypoPRO Google Sans Flex 9pt Light */
@font-face {
    font-family:  'TypoPRO Google Sans Flex';
    src:          url('TypoPRO-GoogleSansFlex-Light.eot');
    src:          local('*'),
                  url('TypoPRO-GoogleSansFlex-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-GoogleSansFlex-Light.woff') format('woff'),
                  url('TypoPRO-GoogleSansFlex-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

