
/* TypoPRO Merriweather 24pt SemiCondensed Light */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensed-Light.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensed-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensed-Light.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensed-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: semi-condensed;
    font-variant: normal;
}

