
/* TypoPRO Merriweather 24pt SemiCondensed Medium Italic */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensed-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensed-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensed-MediumItalic.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensed-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: semi-condensed;
    font-variant: normal;
}

