
/* TypoPRO Merriweather 24pt SemiCondensed Bold */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensed-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensed-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensed-Bold.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensed-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: semi-condensed;
    font-variant: normal;
}

