
/* TypoPRO Merriweather 24pt SemiCondensed Regular */
@font-face {
    font-family:  'TypoPRO Merriweather';
    src:          url('TypoPRO-Merriweather-SemiCondensed-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-Merriweather-SemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-Merriweather-SemiCondensed-Regular.woff') format('woff'),
                  url('TypoPRO-Merriweather-SemiCondensed-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: semi-condensed;
    font-variant: normal;
}

