
/* TypoPRO Nebula Sans Black */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Black.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Black.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Black.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Black.ttf') format('truetype');
    font-style:   normal;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Black Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-BlackItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Bold */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Bold.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Bold Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-BoldItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Book */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Book.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Book.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Book.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Book.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Book Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-BookItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-BookItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-BookItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-BookItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Light */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Light.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Light.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Light Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-LightItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Medium */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Medium.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Medium Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-MediumItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Semibold */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-Semibold.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-Semibold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-Semibold.woff') format('woff'),
                  url('TypoPRO-NebulaSans-Semibold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Nebula Sans Semibold Italic */
@font-face {
    font-family:  'TypoPRO Nebula Sans';
    src:          url('TypoPRO-NebulaSans-SemiboldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-NebulaSans-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-NebulaSans-SemiboldItalic.woff') format('woff'),
                  url('TypoPRO-NebulaSans-SemiboldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

