
/* TypoPRO Roboto Mono ExtraLight */
@font-face {
    font-family:  'TypoPRO Roboto Mono';
    src:          url('TypoPRO-RobotoMono-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-RobotoMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-RobotoMono-ExtraLight.woff') format('woff'),
                  url('TypoPRO-RobotoMono-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

