
/* TypoPRO Open Sans SemiCondensed ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Open Sans SemiCondensed';
    src:          url('TypoPRO-OpenSansSemiCondensed-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-OpenSansSemiCondensed-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-OpenSansSemiCondensed-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-OpenSansSemiCondensed-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: semi-condensed;
    font-variant: normal;
}

