
/* TypoPRO Brass Mono Code Italic */
@font-face {
    font-family:  'TypoPRO Brass Mono Code';
    src:          url('TypoPRO-BrassMonoCode-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-BrassMonoCode-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-BrassMonoCode-Italic.woff') format('woff'),
                  url('TypoPRO-BrassMonoCode-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

