
/* TypoPRO Inter Display Light */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-Light.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-Light.woff') format('woff'),
                  url('TypoPRO-InterDisplay-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

