
/* TypoPRO Inter Display ExtraBold Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-ExtraBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-ExtraBoldItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  800;
    font-stretch: normal;
    font-variant: normal;
}

