
/* TypoPRO Inter Display SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

