
/* TypoPRO Inter Display Black Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-BlackItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-BlackItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-BlackItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  900;
    font-stretch: normal;
    font-variant: normal;
}

