
/* TypoPRO Inter Display Bold */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-Bold.woff') format('woff'),
                  url('TypoPRO-InterDisplay-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

