
/* TypoPRO Inter Display Thin Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-ThinItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

