
/* TypoPRO Inter Display SemiBold */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-SemiBold.woff') format('woff'),
                  url('TypoPRO-InterDisplay-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}

