
/* TypoPRO Inter Display ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-ExtraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-ExtraLightItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-ExtraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}

