
/* TypoPRO Inter Display Regular */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-Regular.woff') format('woff'),
                  url('TypoPRO-InterDisplay-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}

