
/* TypoPRO Inter Display Light Italic */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-LightItalic.woff') format('woff'),
                  url('TypoPRO-InterDisplay-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}

