
/* TypoPRO Inter Display Medium */
@font-face {
    font-family:  'TypoPRO Inter Display';
    src:          url('TypoPRO-InterDisplay-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-InterDisplay-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-InterDisplay-Medium.woff') format('woff'),
                  url('TypoPRO-InterDisplay-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

