
/* TypoPRO Drafting* Mono Bold */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Bold.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}

