
/* TypoPRO Drafting* Mono Medium */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Medium.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

