
/* TypoPRO Drafting* Mono Medium Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-MediumItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}

