
/* TypoPRO Drafting* Mono Bold */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Bold.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Bold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Bold.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Bold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Bold Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-BoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-BoldItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-BoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  bold;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono ExtraLight */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-ExtraLight.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-ExtraLight.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-ExtraLight.woff') format('woff'),
                  url('TypoPRO-DraftingMono-ExtraLight.ttf') format('truetype');
    font-style:   normal;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono ExtraLight Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-ExtraLightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-ExtraLightItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-ExtraLightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  200;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Italic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Italic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Italic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Italic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Light */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Light.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Light.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Light.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Light.ttf') format('truetype');
    font-style:   normal;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Light Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-LightItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-LightItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-LightItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-LightItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  300;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Medium */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Medium.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Medium.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Medium.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Medium.ttf') format('truetype');
    font-style:   normal;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Medium Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-MediumItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-MediumItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-MediumItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-MediumItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  500;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Regular */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Regular.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Regular.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Regular.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Regular.ttf') format('truetype');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono SemiBold */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-SemiBold.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-SemiBold.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-SemiBold.woff') format('woff'),
                  url('TypoPRO-DraftingMono-SemiBold.ttf') format('truetype');
    font-style:   normal;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono SemiBold Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-SemiBoldItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-SemiBoldItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-SemiBoldItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  600;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Thin */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-Thin.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-Thin.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-Thin.woff') format('woff'),
                  url('TypoPRO-DraftingMono-Thin.ttf') format('truetype');
    font-style:   normal;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}


/* TypoPRO Drafting* Mono Thin Italic */
@font-face {
    font-family:  'TypoPRO Drafting Mono';
    src:          url('TypoPRO-DraftingMono-ThinItalic.eot');
    src:          local('*'),
                  url('TypoPRO-DraftingMono-ThinItalic.eot?#iefix') format('embedded-opentype'),
                  url('TypoPRO-DraftingMono-ThinItalic.woff') format('woff'),
                  url('TypoPRO-DraftingMono-ThinItalic.ttf') format('truetype');
    font-style:   italic;
    font-weight:  100;
    font-stretch: normal;
    font-variant: normal;
}

